nav {
    top: 0px;
    position: sticky;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;	
}

li a:hover {
  background-color: #111;
}
body {
  background-color: #454;
  margin: 0;
}
.textik {
  font-family: sans-serif;
  color: White;
  background-color: lightgreen;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}